@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = @Framework.Resources.UIStringResource.Error_TitleText;
}
<hgroup class="title">
    <h1 class="error">@ViewBag.Title</h1>
    <h2 class="error">@Framework.Resources.UIStringResource.Error_DescriptionText</h2>
</hgroup>