# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.cache
*.dll
*.g.i.cs
_UpgradeReport_Files/UpgradeReport_Warning.png
_UpgradeReport_Files/UpgradeReport_Success.png
_UpgradeReport_Files/UpgradeReport_Error.png
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
UpgradeLog.htm
UpgradeLog.XML
_UpgradeReport_Files/UpgradeReport_Information.png
bin/debug/*.*
bin/release/*.*
obj/debug/*.*
obj/release/*.*
obj/debug/TempPE/*.*
obj/release/TempPE/*.*
TemporaryGeneratedFile*.*
*.dbmdl
Log4Net/Core/VS2012DatabaseProject/Log4Net.VS2012DatabaseProject.dbmdl
*.suo
Log4Net/Core/VS2012DatabaseProject/Log4Net.VS2012DatabaseProject.dbmdl
