@{
    ViewBag.Title = Framework.Resx.UIStringResource.Home_TitleText;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>@Framework.Resx.UIStringResource.Home_TitleText
            </p>
        </div>
    </section>
}
<div>
    <h2>Log4Net.Log</h2>
    <ol>
        <li><a href="~/Log/WPCommonOfLog" >WPCommonOfLog</a></li>
        <li><a href="~/Log/WPEntityRelatedOfLog" >WPEntityRelatedOfLog</a></li>
    </ol>
</div>
