<?xml version="1.0" encoding="utf-8"?>
<packages  >
  <package id="MvvmLightLibs" version="4.4.32.1" targetFramework="wp71" />
  <package id="AppBarUtils" version="2.4" targetFramework="wp71" />
  <package id="Ninject" version="3.0.1.10" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp71" />
</packages>
