<?xml version="1.0" encoding="utf-8"?>
<packages  >
  <package id="log4net" version="2.0.3" targetFramework="net403" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net403" />
  <package id="LinqKit" version="1.0" targetFramework="net403" />
  <package id="MathNet.Numerics" version="3.2.3" targetFramework="net403" />
  <package id="log4net" version="2.0.3" targetFramework="net403" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net403" />
  <package id="LinqKit" version="1.0" targetFramework="net403" />
  <package id="MathNet.Numerics" version="3.2.3" targetFramework="net403" />
</packages>
