<?xml version="1.0"?>
<configuration>
  <appSettings>
	  <add key="FileRelativeRootFolder" value="== your file root folder ==" />
	  <add key="BinaryHandlerRootUrl" value="http:\\localhost:10805" />
	  <add key="WebAppRootUrl" value="http:\\localhost:10805" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="ApplicationServices" connectionString="Data Source=Localhost;Initial Catalog=Log4Net;UID=sa;PWD=Qwer~123;" providerName="System.Data.SqlClient" />
	<add name="Log4Net" connectionString="Data Source=Localhost;Initial Catalog=Log4Net;UID=sa;PWD=Qwer~123;" providerName="System.Data.SqlClient"/>
	<add name="Log4NetEntities" connectionString="Data Source=Localhost;Initial Catalog=Log4Net;UID=sa;PWD=Qwer~123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime
      executionTimeout="90"
      maxRequestLength="409600000"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding"/>
    </protocolMapping>
	<!--
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
	-->
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="409600000">
          <readerQuotas maxStringContentLength="409600000" maxArrayLength="409600000"
            maxBytesPerRead="409600000" maxNameTableCharCount="409600000" />
        </binding>
      </basicHttpBinding>
	  <!--
      <wsHttpBinding>
        <binding maxBufferPoolSize="409600000" messageEncoding="Mtom">
          <readerQuotas maxStringContentLength="409600000" maxArrayLength="409600000"
            maxBytesPerRead="409600000" maxNameTableCharCount="409600000" />
        </binding>
      </wsHttpBinding>
	  -->
    </bindings>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler"
        type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>  
</configuration>

