@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = @Framework.Resx.UIStringResource.Error_TitleText;
}
<hgroup>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">@Framework.Resx.UIStringResource.Error_DescriptionText</h2>
</hgroup>
