<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebApiRootUrl" value="http://localhost:10812/api/" />
    <add key="AndroidWebApiRootUrl" value="http://192.168.1.50:12812/api/" />
    <add key="IOsWebApiRootUrl" value="http://192.168.1.50:12812/api/" />
  </appSettings>
</configuration>

