@{
    ViewBag.Title = Framework.Resx.UIStringResource.Account_ExternalLogin_LoginFailureTitle;
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h4>@Framework.Resx.UIStringResource.Account_ExternalLogin_LoginFailureDescription</h4>
</hgroup>
